 
 /*** formulaire d'inscription ***/
.registration {
	border: thin solid black;
	padding: 10px;
	border-radius: 10% 10% 10% 10%;
}

.registration .etoile { color : red; }
.registration #email_confirmation{
	width: auto;
}

.registration button {
	margin-left: 200px;
}


.user img.icon {
  width: 20px;
  height: 20px;
  float: inline-end;
}

.user td {
	padding-left: 80%;
}